# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/

# Database
*.db
*.sqlite3

# Logs
*.log

# Local development
instance/
.webassets-cache

# Heroku
.env.local