version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/pii_data
      - API_KEY=supersecretkey123
    depends_on:
      - db
    volumes:
      - ./templates:/app/templates
      - ./static:/app/static

  db:
    image: postgres:13
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Submax@2206      docker ps
      - POSTGRES_DB=pii_data
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data: